@import "../variables.scss";

@keyframes example {
    from {background-color: transparent;}
    to {background-color: rgba(255,255,255,.5);}
}

#dock-widget {
  overflow: hidden;
  padding: 0;
  width: 100%;

h1 {
  input{
    height:100%;
    line-height: 100%;
    font-size: inherit;
  }
}

#dock-main {
    border: none;

    input {
      width:100%;
      margin-top:10px;
      border:none;
      border-bottom: solid 1px black;
    }

  .main-true {
    display:block;
  }

  .main-false {
    display:none;
  }

}

  ul.main {
    list-style: none;
    margin:0;
    padding:0;

    li {
      li{border:none;}
      display:block;
      padding:15px;
    }

    #verse, #login {
      background-color:white;
    }

    #notepad {
      margin:0;
      padding:0;
    }

  }

        #dock-menu {
                background-color: #ffc31f;
                width: 100%;
                margin: 0;

          ul {
            margin:0;
            padding:0;
            width:100%;

              li {
                display: inline-block;
                animation-name: example;
                animation-duration: 2s;
                padding:0;
                margin: 5px;
                border-bottom: solid 1px black;
                height:55px;
                overflow: hidden;

                button {
                  border:none;
                  background: none;
                  color:white;
                  font-weight:900;
                  text-align: center;
                  line-height: 55px;
                  vertical-align: middle;
                  font-size:1.2rem;
                }

                 #main-search {
                      padding:0;
                      margin:0;
                      background: none;


                      button {
                        padding: 0;
                      }

                      #magnifying-glass {
                        display:inline-block;
                        z-index: 9;
                        margin-top: auto;
                        vertical-align: middle;   
                      }

                      #search-text {
                        color:white;
                        padding-left: 10px;
                        text-align: center;
                        height: 55px;
                        margin:0;
                        padding:0;
                        background:none;
                        line-height:55px;
                        width: 200px;
                      }

                }
            }


    }

    li:hover {
      background-color: rgb(255,241,202);

      button {
      color:black;
      }

    }

    li.no-hover:hover {
      background:none;
    }

    li.no-hover {
      display:inline-block;
    }

  .menu-true {
    background-color: rgb(255,241,202);

    button {
    color:black;
    }
  }

  }



}
