@import "../variables.scss";

#dock-section {
  margin-bottom: 15px;
  width:100%;
  box-shadow: $boxShadow;
  background-color: rgba(255,255,255, .95);
}

#dock-widget {
  overflow: auto;
  padding: 0;
h1 {
  input{
    height:100%;
    line-height: 100%;
    font-size: inherit;
  }
}

#dock-main {
    border: none;

    input {
      width:100%;
      margin-top:10px;
      border:none;
      border-bottom: solid 1px black;
    }

  .main-true {
    display:block;
  }

  .main-false {
    display:none;
  }

}

  ul.main {
    list-style: none;
    margin:0;
    padding:0;

    li {
      background-color: rgba(255,255,255, 0.2);
      li{border:none;}
      display:block;
      padding:15px;
    }

    #bookmarks {

      button {
        width:100%;
      }
      ul {margin:0; padding:0;}

      li {
        display:block;
        width:100%;
        margin:0;
        padding:0;
      }

    }

  }

  #dock-menu {
      background-color: #00c97b;;
      overflow: auto;
      white-space: nowrap;
ul {
  margin:0;
  padding:0;


    li {
      display: inline-block;

      button {
        padding: 14px;
        border:none;
        background: none;
        color:white;
        font-weight:900;
        text-align: center;
      }
    }

    li:hover {
      background-color: #777;
    }

  .menu-true {
    background-color: #777
  }

  }

  }

}


@media screen and (min-width: 670px) {

  #dock-section {

    width:50%;
    margin:auto;

  }
    #dock-widget
   {
    margin: 3rem;

  }


    #dock-section {
    width:50%;
    margin:auto;
    margin-bottom:60px;

    > div {
      flex: 0;
      margin: 0;
      flex-basis: 800px;
    }

  }

}