@import "./variables.scss";

#course-editor #lesson {

  border:none;
  margin-top:75px;



  #close{
    font-size: 2em;
    background-color: rgba(255,255,255,0.3);
    border:none;
    clear:both;
    width:100%;
    text-align: center;
    display:block;
    height:40px;
  }

  #lesson-course {
    display:inline-block;
    clear:right;
  }

  #lesson-summary{
    display:block;
    width:100%;
  }

  #save{
    border: solid 1px white;
    margin-left:10px;
  }

}
