@import "./variables.scss";

#course-editor-menu {
  border: none;
  height: 60px;
  padding:0;
  background-color: white;
  overflow: hidden;

  #editor-menu {
    height:100%;
    float:left;
    background-color: white;
    border:none;
    margin-right:10px;
    border-right:1px solid gray;
  }

  #main {
    float:left;
    height:100%;
    width:75%;
    border:none;

    #course-title {
      height:60%;
      border:none;
      margin:0;


      input {
        border:none;
        height:70%;
        line-height: 100%;
        color:black;
        margin:0;
        font-weight: bold;
        font-size: 1.2em;
        padding:1px;
        padding-left:5px;
        border-bottom: solid 2px $gray;
        width:60%;
      }

    }

    ul#menus {
      border:none;
      white-space: nowrap;
      overflow: hidden;
      margin:0;
      padding:0;

        li {
          list-style: none;
          float:left;
          margin-left:25px;

          ul {
	         display:none;
           z-index:101;
           position:absolute;
           background-color:white;
           border:solid 1px $gray2;
      	   margin:0;
      	   padding:0;

	   li {
             list-style: initial;
             list-style-type: circle;
             display:block;
             clear:both;
             margin:5px;
           }
          }
        }

        li:hover {
          background-color:$gray;
        }
      }

  }


#course-editor-menu ul#menus li:hover + ul { display:block; }

  #aside {
    float:right;
    border:none;
    height:100%;
    margin:0;
    line-height: 100%;
    text-align: center;
    padding:0;
    float:right;

    button {
      height:100%;
      border:none;
      background-color:white;
      display:inline-block;
      border-left: 1px solid $gray2;
    }

  }

}
