#note{

  background-color:white;
  display:flex;
  margin: 15px;
  flex: 1;
  flex-flow:row wrap;

   background-image:
    linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px),
    repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  padding:0;

  main {
    flex: 3;
    margin:0;
    padding:15px;
    background:none;
    padding-top:30px;

    h1, div {display:block; float:none; clear:both;}

    ul {list-style: none; margin:0; padding:0; li {margin: 0;}}
  }

  aside {
  flex: 2;
    border-left:solid 1px gray;
    margin:0;
    padding:2%;
    background-color:white;
    overflow:hidden;
    word-wrap: break-word;
  }

#note{
  background: none;
  box-shadow: none;

  main {
    width:100%;
    background: inherit;
  }

  aside {
    display:none;
    background: inherit;
  }
}

}

@media screen and (max-width: 650px)  {

#note{
display:block;
margin:0;

  main {
    display:block;
  }

  aside {
    display:block;
    border-top:solid 1px gray;
  }
}

}
