#modal {

  background-color: rgba(175,175,175,0.5);
  position: absolute;
  z-index:2501;
  width:100%;
  left:0;
  top:0;
  height:100%;

  h2 {
    padding:0;
  }

  #dialog {
    position: relative;
    border: none;
    background: none;
    padding: 0;
    z-index:2502;
    width:100%;


    .dismiss {
      font-size: 80px;
      background:none;
      color:black;
      border:none;
    }


    input{
      width:100%;
      line-height: 40px;
      text-align: center;
      font-size: 1.2rem;
    }

  }

}

@media screen and (min-width: 700px) {

  #modal {
    
    #dialog {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    width:70%;
    }
  }

}