@import "../variables.scss";

html {
	font-size: 1rem;
}

input {font-size:100%;}

body {
	font-family: $font-sans;
}

h1, h2 {
	font-family: 'Arvo', serif;
}

a, .btn-link {
	color: $GREEN;
}

a.btn:hover, .btn-link:hover {
	color: black;
	text-decoration:underline;
}

/*background color styles */

.greenBG {
	background-color:$GREEN;
}
.blueBG {
	background-color:$BLUE;
	color:white;

	.modal a, .modal button{
		color:black;
	}

	a {color:white;}

	button {color:white;}

}
.orangeBG {
	background-color:$ORANGE;
}

.redBGtrans {
	background-color:$RED_TRANS;
}
.greenBGtrans {
	background-color:$GREEN_TRANS;
}
.blueBGtrans {
	background-color:$BLUE_TRANS;
}
.orangeBGtrans {
	background-color:$ORANGE_TRANS;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.7);
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: gray;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: gray;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: gray;
  font-style: italic;
}

