#note-creator {

  border:solid 1px gray;

  #status-bar {
    width:100%;
    section {
      display:inline-block;
      width:30%;
      margin:0;
      padding:0;
    }
  }
  #note-options {

    p {
      display:inline-block;
    }

  }

}
