#note-creator {

    border:solid 1px gray;
    margin:0;
    padding:0;

  textarea {
    width:100%;
    min-height:300px;
  }

  section {
    margin:0;
    padding:0;
    width:100%;

    #note {
      margin:0;
    }

    }

  #status-bar {
    width:100%;
    section {
      display:block;
      margin:0;
      padding:0;
      overflow:hidden;
      box-shadow:none;
    }
  }
  #note-options {

    p {
      display:inline-block;
    }

  }

}
