@import "../variables.scss";

#MainNavbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:50px;
}

#MainNavbar li{
	display:inline;
	margin-left:15px;
}

#BrandNav .BeLogo {
	height:40px;
}
#UserNav {

}
