@import "../variables.scss";

ul#dashboard {

  width: 100%;

  column-count: 3;
  column-gap: 20px;

  list-style:none;
  margin:0;
  padding:0;
  color: black;
  display:block;

  li {
    background-color:white;
    text-align:center;
    vertical-align:middle;
    display:block;
    min-height:100px;
    margin-bottom:15px;
    padding:10px;

    .delete-it {
      width:25px;
      height:25px;
      float:right;
      color:red;
      background:none;
      border:solid 1px red;
      z-index:10;
    }

    a {
      text-decoration:none;
      color:inherit;
      display:block;
      min-height:100px;
      height:100%;
      line-height:100px;
      text-align: center;
      vertical-align:middle;
    }

#chain-link {
	fill: gray;
  width:100%;
  position:absolute;
  bottom:0;
  background-color: gray;
}

  }

  li:active {
    background-color:gray;
  }

  li:hover{
    background-color:rgba(127,127,127,0.3);
  }

}
