/* ==========================================================================
   COLOR
   ========================================================================== */
$white: #FFFFFF;
$black: #333333;
$gray: #E3E3E3;
$blue: #00BCD4;
$black-light: #2B2D2E;

//
// Variables
// --------------------------------------------------
 
//== Colors
//
$dc-bg-color: #0082D6;

$color_correct: green;
$color_wrong: red;
$color_notgraded: blue;
$color_noquestion: gray;
$color_linkprotected: gray;
 
$BLUE: 	#317FB6;
$GREEN: #00C97C;
$RED: 	#E55C46;
$YELLOW: #F9CA73; 
$ORANGE: $YELLOW;

$font-sans: "Open Sans", Helvetica, sans-serif;

$font-serif: Arvo, Serif;

$BLUE_TRANS: 	rgba($BLUE,.45);
$GREEN_TRANS: rgba($GREEN,.45);
$RED_TRANS: 	rgba($RED,.45);
$ORANGE_TRANS: rgba($ORANGE,.45); 

$BLUE_LIGHT: 	rgb(153, 204, 255);

$NAVY: 	#001F3F;
$AQUA: 	#7FDBFF;
$TEAL: 	#39CCCC;
$OLIVE: #3D9970; 
$LIME: 	#01FF70;
$YELLOW: #FFDC00; 
$MAROON: #85144B; 
$FUCHSIA: #F012BE; 
$PURPLE: #B10DC9; 
$BLACK: #111111; 
$GRAY: 	#AAAAAA;
$DARKGRAY: #A9A9A9;
$SILVER: #DDDDDD;

$boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
