@import "../variables.scss";

#bookmark-main {

  #bookmark-it {

    text-align: center;
    margin:40px;
    border:solid 1px white;;
    width:100%;
    background:none;
    margin-left:0;
    margin-right:0;

    span {
    display:block;
    height:30px;
    width:100%;
    margin:0;
    padding:0;
    background-image: url("/assets/img/bookmark.png");
    background-color: transparent;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    text-align: center;
    padding-left: 35px;
    vertical-alignment:middle;
    line-height:30px;
    }
  }

  #bookmark-it:hover {
    background-color:white;
  }

ul {
  width: 100%;

  column-count: 3;
  column-gap: 20px;

  list-style:none;
  margin:0;
  padding:0;
  color: black;
  display:block;

  li {
    background-color:white;
    text-align:center;
    vertical-align:middle;
    display:block;
    min-height:100px;
    margin-bottom:15px;
    padding:10px;

    .delete-it {
      width:25px;
      height:25px;
      float:right;
      color:red;
      background:none;
      border:solid 1px red;
      z-index:10;
    }

    a {
      text-decoration:none;
      color:inherit;
      display:block;
      min-height:100px;
      height:100%;
      line-height:100px;
      text-align: center;
      vertical-align:middle;
    }

#chain-link {
	fill: gray;
  width:50px;
  position:absolute;
  bottom:0;
  background-color: gray;
}

  }

  li:active {
    background-color:gray;
  }

  li:hover{
    background-color:rgba(127,127,127,0.3);
  }

}

}
