@import "../variables.scss";

#bible {
	background-color:white;
	width:100%;

	ul {
	list-style:none;
	margin:0;
	padding:0;
	}

	.active-verse + span {
		background-color: rgba(128,128,128,0.3);
	}

	#toggle-bible {
		position:fixed;
		bottom: 35px;
		right:35px;
		background-color: #00C97B;
		border:none;
		height:35px;
		color:black;
		font-weight: bold;
	}

	#toggle-bible.bible {
		background-color: $BLUE;
		color:white;
	}

/* starting state of animation */
.bibley-enter {
  opacity: 0.01;
}

.bibley-enter.bibley-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.bibley-leave {
  opacity: 1;
}

.bibley-leave.bibley-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.bibley-appear {
  opacity: 0.01;
}

.bibley-appear.bibley-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.nextChapter{
	text-decoration: none;
	background-color:$BLUE;
	color:white;
	margin-top:15px;
	display:block;
	text-align: center;
	height:55px;
	line-height:55px;
	font-size: 1.7rem;
}

.nextChapter:active {background-color:gray;}

.selectedVerse {background-color:$BLUE_TRANS;}

	p {
		font-weight: 300;
		line-height: 1.7rem;
		margin-bottom: 0;
		margin-left: .7rem;
		margin-right: .7rem;
	}

	sup {
		font-size: 1.3rem;
		color: $GRAY;
	}

	.jesus {
		color:$RED;
		font-family: 'Lato', sans-serif;
		font-weight:100;
		}
}

.verse {
	margin-top: 3rem;
	font-size: 1.8rem;
	line-height: 2.7rem;
	font-weight: 300;
}

@media screen and (min-width: 670px) {

#bible {
	#notes-widget {
		display:block;
	}

	#toggle-bible {
		display:none;
	}

}

}
