@import "../variables.scss";

#biblenav{
  height: 70px;

  #bibleSearch {width:50%; height: 100%;}

  .menu {width:15%;}
  font-size: 2rem;

  a.previous, a.next {
    text-decoration: none;
    font-weight: bold;
    display:inline-block;
    text-align:center;
    width:15%;
  }

  .previous {
    border:none;
    background:transparent;
  }
  .next {
    border:none;
    background:transparent;
  }
  .menu {
    border:none;
    background:transparent;
    height:24px;
    text-align: center;
    font-size:2rem;
  }

  form#bibleSearch{
      display:inline-block;
      height:100%;
    input {
      color:white;
      height:100%;
      margin:0;
      border:none;
      display:inline-block;
      vertical-align:middle;
      text-align:center;
      width: 100%;
      background:rgba(255,255,255,.1);
    }

  }
}

#verse-selector {
  display:flex;
  flex-flow:row wrap;
  border: solid $BLUE 15px;
  text-align: center;
  color:black;
  margin:0;
  padding:0;

  input::placeholder {
    color: gray;
    font-style: italic;
  }

  section:first-child {
    order:1;
    flex:0 1 100%;
    margin-right:0px;
    border-bottom: solid $BLUE 15px;
  }

  section:nth-child(2) {
    border-right: solid $BLUE 15px;
    margin: auto;
  }

  section:nth-child(2),  section:nth-child(3) {
    height: 400px;
    overflow-y:scroll;
    background-color:white;
  }

  section {
    order:2;
    flex: 1;
    margin-bottom:0;
    box-shadow:none;
  }

 .square-list {
    display:inline-block;
    height:70px;
    text-align:center;
    vertical-align:middle;
    line-height:70px;
    width:99%;
    margin:0;
    border:none;
    border-bottom: 1px solid gray;

    a {display:block; height:100%; width:100%; color: black; text-decoration: none;}
  }

  .square-list:first-of-type {
    border-top: 1px solid gray;
  }

  .square-list:hover {
    background-color:$ORANGE;
  }

  .square-list:active {
    background-color:$BLUE;
  }
  
  ul#book-menu {
    padding:0;
    margin:0;

    h2 {
      font-size: 90%;
    }
  }

}

.bookselect {

  display:block;
  margin:0;
  padding:0;
  width:100%;

  button.bookname {
    width:100%;
    margin:0;
    padding:0;
    padding-top:15px;
    padding-bottom:15px;
    background:none;
    border:none;
    border-top: 1px solid gray;
    color:black;
    font-size: 26px;

    span {
      width: 70px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display:inline-block;
    }

    .rightArrow {
      height: 26px;
      color:black;
      text-align:right;
      float:right;
    }
  }

  button.bookname:hover {
    background-color:$ORANGE;
  }

  button.bookname:active {
    background-color:$BLUE;
  }

}

@media screen and (min-width: 700px){
  
  #verse-selector {
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);

    .square-list {
      border: 1px solid gray;
      width:70px;
    }

    button.bookname {
      font-size: 32px;

      span {
        width: auto;
        white-space: wrap;
        overflow: visible;
        display:inline-block;
      }

      .rightArrow {
        height: 32px;
      }
    }



  }

}