@import "../variables.scss";

#biblenav{

  #bibleSearch {width:50%;}
  a.previous {width:15%;}
  a.next {width:15%;}
  .menu {width:15%;}

  a.previous, a.next {
    text-decoration: none;
    font-weight: bold;
    display:inline-block;
  }

  .previous {
    border:none;
    background:transparent;
  }
  .next {
    border:none;
    background:transparent;
  }
  .menu {
    border:none;
    background:transparent;
    float:right;
    height:24px;
  }

  form#bibleSearch{
      display:inline-block;
    input {
      color:white;
      height:100%;
      margin:0;
      border:1.11px;
      padding:4.5px;
      display:inline-block;
      vertical-align:middle;
      text-align:center;
      max-width:150px;
      background:rgba(255,255,255,.1);
    }

  }

.bookselect {

  display:inline-block;
  margin:0;
  padding:15px;

  .bookname {
    padding:5px;
    border:solid 1px rgba(0,0,0,0.1);
    width:auto;
  }

    ul#book-menu {
      margin:0;
      list-style:none;
      padding:0;
      width:100%;

      li{
        margin:0px;
        list-style:none;
      }

      li.square-list {
        display:inline-block;
        border: 1px solid gray;
        width:60px;
        height:60px;
        text-align:center;
        vertical-align:middle;
        line-height:60px;
      }

    }
  }

}

  @media screen and (min-width: 670px) {

    #biblenav {

      .bookselect.break-here {
        display:block;
        clear:left;
      }

      .bookselect {
        width:auto;
        margin:auto auto;
        display: inline-block;

        .bookname {
          margin:0;
          text-align: center;
        }

      }

    }

  }
