#audio-widget {
  width:100%;
  margin:0;
  padding:0;
  white-space: normal;

ul#cards {
  list-style: none;
  padding:0;

  li.card {

    border:solid 1px gray;
    padding:15px;
    margin-bottom:30px;
    margin-right:30px;
    margin-left:30px;
    border-bottom: 3px solid #317FB6;
    box-shadow: 10px 10px 5px #888888;
    img {
      display:inline-block;
      text-align: right;
    }
    h2 {
      display:inline;
    }
    background-color:white;
  }

}

#page-player {

  width:100%;
}

}
