html, body {
  height: 100%;
  padding:0;
  margin:0;
  width:100%;
}

.App > div:first-of-type {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > #root {
      min-height: 100%;
      height: 100%;
      height: auto !important;
      margin: 0 auto -25px; /* the bottom margin is the negative value of the footer's height */
      position: relative;
    //  background: url(../../assets/svg/be-background.svg);
      background: -webkit-linear-gradient(left, #28B6CD , #00C97B );
    //  background-size: 20%;
      width:100%;
}

.container {
  height: 100%;
  width:100%;
}

#footer {
      bottom: 0px;
      width: 100%;
      text-align: center;
      position:absolute;
}

#footer, .push {
    height: 25px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
  width:100%;
}

.heading {
  font-size: 2em;
  font-weight: normal;
  width: 100%;
  display: block;
}


.onlinefalse {
  display:block;
  height:40px;
  width:100%;
  background-color:rgba(100, 100, 100, 0.5);
  color:white;
  text-align:center;
  line-height:100%;
  margin:0;
  padding:0;
  position:fixed;
  bottom:0;
  padding-bottom:40px;
  z-index: 1100;
}

.onlinetrue {
  display:none;
}


.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}
