@import "../variables.scss";

html, body {
  height: 100%;
  padding:0;
  margin:0;
  width:100%;
}

.App > div:first-of-type {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > #root {
      min-height: 100%;
      height: 100%;
      height: auto !important;
      margin: 0 auto -25px; /* the bottom margin is the negative value of the footer's height */
      position: relative;
      background: -webkit-linear-gradient(left, #28B6CD , #00C97B );
      width:100%;
}

.container {
  height: 100%;
  width:100%;
}

  .sections {
    margin-bottom: 100px;

      section{
        box-shadow: $boxShadow;
        margin-bottom: 30px;
    }

  }


@media screen and (min-width: 700px) {

  .sections {

      display: -webkit-flex; /* Safari */
      display: inline-flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction:row;
      width: 100%;
      overflow: hidden;
      space-between: 15px;



      section {
             flex: 1 1 0;
             overflow:hidden;
        }

                section:first-child {
               flex: 1 1 0;
               overflow:hidden;
               margin-right:15px;
        }

  }

}

.onlinefalse {
  display:block;
  height:40px;
  width:100%;
  background-color:rgba(100, 100, 100, 0.5);
  color:white;
  text-align:center;
  line-height:100%;
  margin:0;
  padding:0;
  position:fixed;
  bottom:0;
  padding-bottom:40px;
  z-index: 1100;
}

.onlinetrue {
  display:none;
}