@import '../variables.scss';

footer {
  background-color: white;
  justify-content: center !important;
  color: #777;
  border-top:1px solid #777;
  
  a {
    color: #777;
    text-decoration: none;
  }
}
