@import "../variables.scss";

html {
	font-size: 100%;
}

body {
	font-family: $font-sans;
}

h1, h2 {
	font-family: 'Arvo', serif;
}

a, .btn-link {
	color: $GREEN;
}

a.btn:hover, .btn-link:hover {
	color: black;
	text-decoration:underline;
}

html, body, p, h1, h2, h3, h4, h5 , h6, blockquote, li
{line-height:125%;}

/*background color styles */

.greenBG {
	background-color:$GREEN;
}
.blueBG {
	background-color:$BLUE;
	color:white;

	.modal a, .modal button{
		color:black;
	}

	a {color:white;}

	button {color:white;}

	::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
    padding-top:4px;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    white;
	   opacity:  1;
	   padding-top:4px;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    white;
	   opacity:  1;
	   padding-top:4px;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color:    white;
	   padding-top:4px;
	}

}
.orangeBG {
	background-color:$ORANGE;
}

.redBGtrans {
	background-color:$RED_TRANS;
}
.greenBGtrans {
	background-color:$GREEN_TRANS;
}
.blueBGtrans {
	background-color:$BLUE_TRANS;
}
.orangeBGtrans {
	background-color:$ORANGE_TRANS;
}
