@import "../variables.scss";

.WidgetContainer {
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  margin:auto auto;
  padding:0;
  padding-bottom:25px;
  margin-bottom: 60px;

  .Widget{
    width:100%;
    box-shadow: $boxShadow;
  }

  > div {
    flex: 0;
    margin: 0;
    flex-basis: 670px;
    background-color: white;
  }

}

.WidgetContainer h2 {
	background: -webkit-linear-gradient(left, #28B6CD , #00C97B );
	-webkit-margin-before: 0;
	padding: 2rem;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


@media screen and (min-width: 670px) {

  .WidgetContainer > div {
    background-color: rgba(255,255,255, .95);
    margin: 3rem;

  }


  .WidgetContainer {
    width:50%;
    margin:auto;
    margin-bottom:60px;

    > div {
      flex: 0;
      margin: 0;
      flex-basis: 1000px;
    }

  }

}
