@import "../variables.scss";

.note-thumbnail {
  border:solid 1px gray;
  border-bottom: 3px solid #317FB6;
  box-shadow: 10px 10px 5px #888888;

  padding:15px;
  width:90%;
  display:block;
  background: none;
  position:relative;
  overflow: hidden;
  height:100%;
  margin-top:5%;
  margin-left:5%;
  background-color:rgba(255,255,255,0.7);

  .output {
    height:140px;
    overflow: hidden;
    h1, h2, h3, h4, h5, h6, p, blockquote {font-size: 1em;}

    div {
      height:140px;
      overflow: hidden;
      margin:0;
      padding:0;
    }

}

ul {
  list-style:none;

  li {
    display:inline-block; 
    width:23%;;
    border: solid 1px gray;
    text-align: center;
    margin-left: 3%;
    
    button, a {
      border:none;
      text-decoration:none;
      background:none;
      color:inherit;
      font-weight: inherit;
      font-size: inherit;
      width:100%;
      height:100%;
      display:block;
    }
  }

  li:hover {

    background-color: $GREEN;
    color:white;
    font-weight: bold;
  }

}

}
